.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #232323EA;
  z-index: 100;
}
.modal-delete-window {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  height: 200px;
  width: 500px;
  background-color: var(--body);
  padding: 40px;
  .modal-top {
    display: flex;
    justify-content: flex-end;
    .close-button {
      color: var(--white);
      background-color:var(--body);
      border: none;
      cursor: pointer;
      font-size: 24px;
    }
  }
  .modal-body {
    display: flex;
    flex-direction: column;
    h2 {
      color: var(--white);
      text-transform: uppercase;
      font-weight: 300;
      margin-top: 0;
    }
    button {
      margin-top: 20px;
      height: 40px;
      width: 120px;
      text-transform: uppercase;
      cursor: pointer;
      color: var(--white);
      background-color: var(--red);
      border-radius: 4px;
      border-color: transparent;
      align-self: flex-end;
    }
  }
}
