main {
  padding: 0 50px 50px;
}
.main-heading {
  width: 100%;
  border-bottom: 1px solid #080707;
  display: flex;
  justify-content: space-between;
}
.error-message {
  color: var(--white);
  text-align: center;
}
